/* ==== HEADER SECTION ==== */

header {
    padding: 3px;
}

.container {
    display: flex;
    width: 1500px;
    margin: 0 auto;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.container > h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    color: #454344;
    margin: 0;
}



/* ==== NAVI SECTION ==== */

nav > ul {
    list-style-type: none;
}

nav > ul > li {
    display: inline-block;
    margin-right: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

nav > ul > li > a {
    text-decoration: none;
    color: #454344;
}

nav > ul > li > a:hover {
    color: rgb(160, 160, 160)
}



/* ==== MAIN SECTION ==== */

main {
    background-image: url(../images/snow-mountain.jpeg);
    height: 300;
    text-align: center;
    padding: 200px;
    background-size: cover;
    background-position: bottom;
}

#bold-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: #454344;
    text-transform: uppercase;
    margin-bottom: 0px;
}

#thin-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 50px;
    color: #454344;
    text-transform: uppercase;
    margin-top: 0px;
}

main > button {
    border: 1px solid #454344;
    border-radius: 5px;
    padding:10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: #454344;
}


/* ==== INFO SECTION ==== */

.info-section {
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.info-group > img {
    width: 100px;
}

.info-group {
    width: 300px;
    text-align: center;
}

.info-group > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #454344;
    text-transform: uppercase;
}

.info-group > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #454344;
}


/* ==== CONTENT SECTION ==== */

.content {
    text-align: center;
    padding: 80px 150px;
    background-color: #ebebeb;
}

.content > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #454344;
    text-transform: uppercase;
    margin-top: 0;
}

.content > hr {
    border: 2px solid #34b9e9;
    width: 250px;
}

.content > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #454344;
}

.content > img {
    width: 1200px;
}


/* ==== SECONDARY CONTENT SECTION ==== */

.secondary-content {
    display: flex;
    justify-content: space-between;
    margin: 80px 150px;
}

.big-container {
    display: flex;
    width: 600px;
    height: 400px;
    border: 2px solid black;
}

.content-container{
    width: 220px;
    text-align: center;
    padding: 40px;
    background-color: #ebebeb;
}

.content-container > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #454344;
    text-transform: uppercase;
    margin-top: 0;
}

.content-container > hr {
    border: 2px solid #34b9e9;
    width: 150px;
}

.content-container > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #454344;
}

.content-container > button {
    border: 3px solid #34b9e9;
    padding:10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #34b9e9;
    background-color: #ebebeb;
    margin-top: 20px;
}


.secondary-content-picture {
    background-image: url(../images/dock.jpg);
    background-size: cover;
    background-position: right;
    height: 400px;
    width: 300px
}

.secondary-content-picture-2 {
    background-image: url(../images/snow-mountain.jpeg);
    background-size: cover;
    background-position: bottom right;
    height: 400px;
    width: 300px
}


/* ==== CTA SECTION ==== */

.cta {
    text-align: center;
    padding: 80px 150px;
}

.cta > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #454344;
    text-transform: uppercase;
    margin-top: 0;
}

.cta > hr {
    border: 2px solid #34b9e9;
    width: 250px;
}

.cta > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #454344;
}

.cta > button {
    border: 3px solid #34b9e9;
    padding:10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #34b9e9;
    background-color: white;
    margin-top: 20px;
}